<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coronanews">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".AboutMeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FrequentlyAskedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImportantLinkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpLineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IndividualWorldActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllWorldActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WorldActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IndividualNewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StateSpecificActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StateWiseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".MyNotificationPublisher" />

    </application>

</manifest>